includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 0
    paths:
        - packages
    excludePaths:
        - packages/*/config/*
        - packages/*/tests/*
        - packages/vendor/*
        - packages/*/vendor/*
    checkOctaneCompatibility: true
    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\).#'
            path: packages/core/src/Base/Traits/HasModelExtending.php
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            paths:
                - packages/ERP/src/Providers/*/config.php
                - packages/shipping/src/Providers/*/config.php
        -
            identifier: larastan.relationExistence
            path: packages/review/src/Console/ReviewRequestEmailCommand.php
