name: monorepo-split

on:
  push:
    tags: '*'

jobs:
  split-monorepo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - "admin"
          - "core"
          - "opayo"
          - "paypal"
          - "table-rate-shipping"
          - "stripe"
          - "search"
    steps:
      - uses: actions/checkout@v4
      - name: Monorepo Split of ${{ matrix.package }}
        uses: danharrin/monorepo-split-github-action@v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          package_directory: "packages/${{ matrix.package }}"
          repository_organization: "lunarphp"
          repository_name: "${{ matrix.package }}"
          branch: 1.x
          tag: ${{ github.ref_name }}
          user_name: "GitHub Action"
          user_email: "action@github.com"
